<h3><u>Welcome to the @Department Department</u></h3>


@code {
    [Parameter]
    @* This Parameter allows access from the consumer (Parent component)*@
    public string Department { get; set; }
}
